.all {
  font-size: 1rem;
  font-family: Open Sans, sans-serif;
}

#circle-shape-example {
  font-family: Open Sans, sans-serif;
  margin-top: 100px;
}
#circle-shape-example  .curve {
  width: 33%; height: auto;
  min-width: 150px;
  float: left;
  margin-right:2rem;
  border-radius: 50%;
  -webkit-shape-outside:circle();
  shape-outside:circle();
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
	color: #000;
	background-color: #e9e9e9;

}
.social-icons li a[href*="github.com"]:before {
	content: "\f09b";
}

.social-icons li a[href*="linkedin.com"]:before {
	content: "\f0e1";
}

.fa-scholar {
  content: url('assets/google-scholar.svg');
  height: 1em;
  width: auto;
}
